PEGGO_ENV="local"
PEGGO_LOG_LEVEL="info"

PEGGO_COSMOS_CHAIN_ID="{{ peggo_cosmos_chain_id }}"
PEGGO_COSMOS_GRPC="{{ peggo_cosmos_grpc }}"
PEGGO_TENDERMINT_RPC="{{ peggo_tendermint_rpc }}"

PEGGO_COSMOS_FEE_DENOM="{{ peggo_cosmos_fee_denom }}"
PEGGO_COSMOS_GAS_PRICES="{{ peggo_cosmos_gas_prices }}"

# 不使用 keyring，直接使用私钥
PEGGO_COSMOS_KEYRING=""
PEGGO_COSMOS_KEYRING_DIR=""
PEGGO_COSMOS_KEYRING_APP=""
PEGGO_COSMOS_FROM=""
PEGGO_COSMOS_FROM_PASSPHRASE=""
PEGGO_COSMOS_PK="{{ peggo_cosmos_pk }}"

PEGGO_COSMOS_USE_LEDGER="false"

# 不使用 keystore，直接使用私钥
PEGGO_ETH_KEYSTORE_DIR=""
PEGGO_ETH_FROM=""
PEGGO_ETH_PASSPHRASE=""
PEGGO_ETH_PK="{{ peggo_eth_pk }}"

PEGGO_ETH_GAS_PRICE_ADJUSTMENT="{{ peggo_eth_gas_price_adjustment }}"
PEGGO_ETH_MAX_GAS_PRICE="{{ peggo_eth_max_gas_price }}"
PEGGO_ETH_CHAIN_ID="{{ peggo_eth_chain_id }}"
PEGGO_ETH_RPC="{{ peggo_eth_rpc }}"
PEGGO_ETH_ALCHEMY_WS="{{ peggo_eth_alchemy_ws }}"
PEGGO_ETH_USE_LEDGER="false"
PEGGO_COINGECKO_API="https://api.coingecko.com/api/v3"

PEGGO_RELAY_VALSETS="{{ peggo_relay_valsets }}"
PEGGO_RELAY_VALSET_OFFSET_DUR="{{ peggo_relay_valset_offset_dur }}"
PEGGO_RELAY_BATCHES="{{ peggo_relay_batches }}"
PEGGO_RELAY_BATCH_OFFSET_DUR="{{ peggo_relay_batch_offset_dur }}"
PEGGO_RELAY_PENDING_TX_WAIT_DURATION="{{ peggo_relay_pending_tx_wait_duration }}"

PEGGO_MIN_BATCH_FEE_USD="{{ peggo_min_batch_fee_usd }}"

PEGGO_STATSD_PREFIX="peggo."
PEGGO_STATSD_ADDR="localhost:8125"
PEGGO_STATSD_STUCK_DUR="5m"
PEGGO_STATSD_MOCKING="false"
PEGGO_STATSD_DISABLED="true"

PEGGO_ETH_PERSONAL_SIGN="false"
PEGGO_ETH_SIGN_MODE="raw"

