# 这是 Jinja2 模板文件，由 Ansible 根据变量生成实际的 config.toml
# Sentry/RPC 节点配置 - 对外提供服务，支持更多连接

#######################################################################
###                   Main Base Config Options                      ###
#######################################################################

proxy_app = "tcp://127.0.0.1:26658"
moniker = "{{ node_name }}"
fast_sync = true
db_backend = "goleveldb"
db_dir = "data"
log_level = "info"
log_format = "plain"
genesis_file = "config/genesis.json"
priv_validator_key_file = "config/priv_validator_key.json"
priv_validator_state_file = "data/priv_validator_state.json"
priv_validator_laddr = ""
node_key_file = "config/node_key.json"
abci = "socket"
filter_peers = false

#######################################################################
###                 Advanced Configuration Options                  ###
#######################################################################

#######################################################
###       RPC Server Configuration Options          ###
#######################################################
[rpc]

# RPC 节点：RPC 对外开放
laddr = "{{ rpc_laddr | default('tcp://0.0.0.0:26657') }}"
cors_allowed_origins = {{ rpc_cors_allowed_origins | default(['*']) | to_json }}
cors_allowed_methods = ["HEAD", "GET", "POST", ]
cors_allowed_headers = ["Origin", "Accept", "Content-Type", "X-Requested-With", "X-Server-Time", ]
grpc_laddr = ""
grpc_max_open_connections = 900
unsafe = false
max_open_connections = 900
max_subscription_clients = 100
max_subscriptions_per_client = 5
experimental_subscription_buffer_size = 200
experimental_websocket_write_buffer_size = 200
experimental_close_on_slow_client = false
timeout_broadcast_tx_commit = "10s"
max_body_bytes = 1000000
max_header_bytes = 1048576
tls_cert_file = ""
tls_key_file = ""
pprof_laddr = ""

#######################################################
###           P2P Configuration Options             ###
#######################################################
[p2p]

laddr = "tcp://0.0.0.0:26656"
external_address = "{{ external_address }}"
seeds = ""
persistent_peers = "{{ persistent_peers }}"
upnp = false
addr_book_file = "config/addrbook.json"
addr_book_strict = true
max_num_inbound_peers = {{ max_num_inbound_peers | default(100) }}
max_num_outbound_peers = {{ max_num_outbound_peers | default(50) }}
unconditional_peer_ids = ""
persistent_peers_max_dial_period = "0s"
flush_throttle_timeout = "10ms"
max_packet_msg_payload_size = 1024
send_rate = 5120000
recv_rate = 5120000
pex = {{ pex | default(true) | lower }}
seed_mode = {{ seed_mode | default(false) | lower }}
private_peer_ids = ""
allow_duplicate_ip = false
handshake_timeout = "20s"
dial_timeout = "3s"

#######################################################
###          Mempool Configuration Option          ###
#######################################################
[mempool]

type = "flood"
recheck = true
broadcast = true
wal_dir = ""
size = 5000
max_txs_bytes = 1073741824
cache_size = 10000
keep-invalid-txs-in-cache = false
max_tx_bytes = 1048576
max_batch_bytes = 0
ttl-duration = "0s"
ttl-num-blocks = 0

#######################################################
###          State Sync Configuration Options      ###
#######################################################
[statesync]

enable = false
rpc_servers = ""
trust_height = 0
trust_hash = ""
trust_period = "168h0m0s"
discovery_time = "15s"
temp_dir = ""
chunk_request_timeout = "10s"
chunk_fetchers = "4"

#######################################################
###       Block Sync Configuration Options         ###
#######################################################
[blocksync]

version = "v0"

#######################################################
###         Consensus Configuration Options        ###
#######################################################
[consensus]

wal_file = "data/cs.wal/wal"
timeout_propose = "3s"
timeout_propose_delta = "500ms"
timeout_prevote = "1s"
timeout_prevote_delta = "500ms"
timeout_precommit = "1s"
timeout_precommit_delta = "500ms"
timeout_commit = "1500ms"
double_sign_check_height = 0
skip_timeout_commit = false
create_empty_blocks = true
create_empty_blocks_interval = "0s"
peer_gossip_sleep_duration = "100ms"
peer_query_maj23_sleep_duration = "2s"

#######################################################
###         Storage Configuration Options          ###
#######################################################
[storage]

discard_abci_responses = false

#######################################################
###   Transaction Indexer Configuration Options   ###
#######################################################
[tx_index]

indexer = "kv"
psql-conn = ""

#######################################################
###       Instrumentation Configuration Options   ###
#######################################################
[instrumentation]

prometheus = {{ prometheus | default(true) | lower }}
prometheus_listen_addr = ":26660"
max_open_connections = 3
namespace = "cometbft"

