DEPLOYER_RPC_URI="{{ final_peggy_deployer_rpc_uri | default(peggo_eth_rpc) }}"
DEPLOYER_TX_GAS_PRICE="{{ peggy_deployer_tx_gas_price | default('-1') }}"
DEPLOYER_TX_GAS_LIMIT="{{ peggy_deployer_tx_gas_limit | default('8000000') }}"
DEPLOYER_FROM="{{ peggy_deployer_from | default('') }}"
DEPLOYER_FROM_PK="{{ peggy_deployer_from_pk }}"

